.items {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shimmer-card {
  width: 250px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
}

.shimmer-effect {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  animation: shimmer 2s infinite linear;
}

.shimmer-image {
  height: 70%;
  margin-bottom: 10px;
}

.shimmer-text {
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.shimmer {
  height: 200px;
  width: 200px;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.glow-on-hover {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #9c74c7;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 18px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #faf6f6;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9c74c7;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
}

input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 5px;
  font-size: 16px;
  color: #333;
}

.search-icon {
  color: #666;
  margin-right: 5px;
}

/* 



ok
*/
